doctype html
html
    head
        title Modulo_5
    body
        form(action="/users" method="POST")
            input(type="email" name="email" placeholder="correo")
            input(type="password" name="password" placeholder="contrasenna")
            input(type="submit" value="Crear Cuenta")
