doctype html
html
    head
        title bienvenido
    body
        h1= user.email
        form(action='/sessions?_method=DELETE' method="POST")
            input(type="submit" value="cerrar sesion")
