doctype html
html
    head
        title Modulo_6
    body
        form(action="/categories" method="POST")
            input(type="text" name="title" placeholder="Titulo")
            input(type="color" name="color" placeholder="color")
            input(type="submit" value="Crear")
