doctype html
html
    head
        title Clase 17
    body
       form(action="/tasks" method="POST")
        textarea(name="description" placeholder="Coloca tu pendiente aqui")
        input(type="submit" value="Guardar")
